 
	body{ 	text-align:center;
			background:rgb(104,205,213); /* 背景色 */ 
		} 
	.box1 	{	background: yellow;
				padding-right:100%;
				float :left;
			}
	.back { width:32px;

	}
	.logo 	{ 	
				float :center;
				width:150px;	
				margin-top:100px;
			}
	.state { 
			margin-bottom:100px;
			padding-left:10%;
			padding-right:10%;
			padding-top:10%;
			background: rgb(104,205,213);
			float :center;
			}

	.box2 	{
			
			background:rgb(104,205,213); /* 背景色 */
			float :center;
			}
	.user {	
				
			margin-left:20%;
			background:rgb(104,205,213); /* 背景色 */
			float:left;
			}
	.userimg {	
			width:40px;
			}
	.bjptteng { 
				margin-right:20%;
				background:rgb(104,205,213);
				float:right;
				}
	.bjpttengimg { 
				width:40px;
				}
				
	.txt{	
			text-align: left;
			color:rgb(255,255,255);
			font-size:15px;
	 }