 
	body{ 	text-align:center;
			background:rgb(104,205,213); /* 背景色 */ 
		} 
	.box1 {	background: yellow;
	}
	.back { background:red;

	}
	.logo {  background:red; /* 背景色 */ 		}
	.state { background: yellow;}

	.box { background:red; /* 背景色 */}
	.user {	background:red; /* 背景色 */
			float:left;
	}
	.bjptteng { background:red;
				float:right;
	}
